<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/afiliate.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet" />
    <title>Easy Health | Afiliate</title>
</head>
<body>

    <header class = "bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <h1>Nuestros Planes de Afiliación</h1>
                <nav>
                    <a href="#unipersonal">Planes Unipersonales</a>
                    <a href="#familiar">Planes Familiares</a>
                    <a href="/inicio">Inicio</a>
                </nav>
            </div>
        </div>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>


        <section class="banner contenedor" id="home">
            <section class="banner_title">
                <h2>Quieres saber más <br> sobre nosotros?</h2>
                <a href="/inicio" class="llamanos">Conoce más!</a>
            </section>
            <div class="banner_img">
                <img src="../static/logo.png" alt="">
            </div> 
        </section>
    </header>

    <div class="custom-shape-divider-bottom-1727833950">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>


    <!-- Que ofrecemos -->

        <section class="main__about about" id="about">
            <div class="info-block">
        
                <p class="info-block__textt"> Qué ofrecemos</p>
        
                <p class="info-block__text"> Con nuestra membresía, tendrás la oportunidad de acceder a 
                descuentos que van del 10% al 30% en sesiones de fisioterapia en nuestros consultorios aliados.
                Esta membresía te permite cuidar de tu salud y bienestar de una manera más accesible, aprovechando 
                tarifas preferenciales en cada sesión. Además de garantizarte un ahorro importante a lo largo del año, 
                también te da acceso a una red de profesionales altamente capacitados que te brindarán la mejor atención 
                en cada tratamiento. Es la opción ideal para quienes buscan mantener su bienestar físico de forma continua, 
                disfrutando de los beneficios exclusivos que nuestra membresía ofrece.
                </p>
            </div>

        </section>


    <!-- Propuestas de Trabajo -->

    <div class="contenedo">

        <h2 class="unipersonal" id="unipersonal">Planes Unipersonales</h2>

        <div class="tabla">
            <h2>Anual</h2>
            <img src="png/1.png" alt="">
            <h3>600 <sup>$</sup></h3>
            <p>Plan personal con duracion de doce meses</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="easyhealth.sds@gmail.com">
                <input type="hidden" name="item_name" value="Plan Personal Anual">
                <input type="hidden" name="amount" value="600">
                <input type="hidden" name="currency_code" value="MXN">  
                <input type="hidden" name="return" value="/success"> <!-- URL a la que redirigir después del pago -->
                <input type="hidden" name="cancel_return" value="/cancel"> <!-- URL a la que redirigir si se cancela el pago -->  
                <button class="btn">Comprar ahora</button>
            </form>
        </div>

        <div class="tabla">
            <h2>Semestral</h2>
            <img src="png/2.png" alt="">
            <h3>400 <sup>$</sup></h3>
            <p>Plan personal con duracion de seis meses</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="easyhealth.sds@gmail.com">
                <input type="hidden" name="item_name" value="Plan Personal Semestral">
                <input type="hidden" name="amount" value="400">
                <input type="hidden" name="currency_code" value="MXN">  
                <input type="hidden" name="return" value="/success"> <!-- URL a la que redirigir después del pago -->
                <input type="hidden" name="cancel_return" value="/cancel"> <!-- URL a la que redirigir si se cancela el pago -->  
                <button class="btn">Comprar ahora</button>
            </form>
        </div>

        <div class="tabla">
            <h2>Trimestral</h2>
            <img src="png/3.png" alt="">
            <h3>300 <sup>$</sup></h3>
            <p>Plan personal con duracion de tres meses</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="easyhealth.sds@gmail.com">
                <input type="hidden" name="item_name" value="Plan Personal Trimestral">
                <input type="hidden" name="amount" value="300">
                <input type="hidden" name="currency_code" value="MXN">  
                <input type="hidden" name="return" value="/success"> <!-- URL a la que redirigir después del pago -->
                <input type="hidden" name="cancel_return" value="/cancel"> <!-- URL a la que redirigir si se cancela el pago -->  
                <button class="btn">Comprar ahora</button>
            </form>
        </div>

        <div class="tabla">
            <h2>Mensual</h2>
            <img src="png/3.png" alt="">
            <h3>120 <sup>$</sup></h3>
            <p>Plan personal con duración de un mes</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="easyhealth.sds@gmail.com">
                <input type="hidden" name="item_name" value="Plan Personal Mensual">
                <input type="hidden" name="amount" value="120">
                <input type="hidden" name="currency_code" value="MXN">   
                <input type="hidden" name="return" value="/success"> <!-- URL a la que redirigir después del pago -->
                <input type="hidden" name="cancel_return" value="/cancel"> <!-- URL a la que redirigir si se cancela el pago --> 
                <button class="btn">Comprar ahora</button>
            </form>
        </div>





        <h2 class="familiar" id="familiar">Planes Familiares</h2>

        <div class="tabla">
            <h2>Anual</h2>
            <img src="png/1.png" alt="">
            <h3>1800 <sup>$</sup></h3>
            <p>Plan para cinco personas con duracion de doce meses</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="easyhealth.sds@gmail.com">
                <input type="hidden" name="item_name" value="Plan Familiar Anual">
                <input type="hidden" name="amount" value="1800">
                <input type="hidden" name="currency_code" value="MXN">
                <input type="hidden" name="return" value="/success"> <!-- URL a la que redirigir después del pago -->
                <input type="hidden" name="cancel_return" value="/cancel"> <!-- URL a la que redirigir si se cancela el pago -->    
                <button class="btn">Comprar ahora</button>
            </form>
        </div>

        <div class="tabla">
            <h2>Semestral</h2>
            <img src="png/2.png" alt="">
            <h3>1000 <sup>$</sup></h3>
            <p>Plan para cinco personas con duracion de seis meses</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="easyhealth.sds@gmail.com">
                <input type="hidden" name="item_name" value="Plan Familiar Semestral">
                <input type="hidden" name="amount" value="1000">
                <input type="hidden" name="currency_code" value="MXN">   
                <input type="hidden" name="return" value="/success"> <!-- URL a la que redirigir después del pago -->
                <input type="hidden" name="cancel_return" value="/cancel"> <!-- URL a la que redirigir si se cancela el pago --> 
                <button class="btn">Comprar ahora</button>
            </form>
        </div>

        <div class="tabla">
            <h2>Trimestral</h2>
            <img src="png/3.png" alt="">
            <h3>700 <sup>$</sup></h3>
            <p>Plan para cinco personas con duracion de tres meses</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="easyhealth.sds@gmail.com">
                <input type="hidden" name="item_name" value="Plan Familiar Trimestral">
                <input type="hidden" name="amount" value="700">
                <input type="hidden" name="currency_code" value="MXN">
                <input type="hidden" name="return" value="/success"> <!-- URL a la que redirigir después del pago -->
                <input type="hidden" name="cancel_return" value="/cancel"> <!-- URL a la que redirigir si se cancela el pago -->
                <button class="btn">Comprar ahora</button>
            </form>
        </div>

        <div class="tabla">
            <h2>Mensual</h2>
            <img src="png/3.png" alt="">
            <h3>500 <sup>$</sup></h3>
            <p>Plan para cinco personas con duración de un mes</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="easyhealth.sds@gmail.com">
                <input type="hidden" name="item_name" value="Plan Familiar Mensual">
                <input type="hidden" name="amount" value="50">
                <input type="hidden" name="currency_code" value="MXN">
                <input type="hidden" name="return" value="/success"> <!-- URL a la que redirigir después del pago -->
                <input type="hidden" name="cancel_return" value="/cancel"> <!-- URL a la que redirigir si se cancela el pago -->
                <button class="btn">Comprar ahora</button>
            </form>
        </div>

    </div>


    <!-- Footer-->

    <footer class="footer">

        <ul class="social-icon">

            <li class="icon-elem">
                <a href="https://www.tiktok.com/@easyhealth.mex" class="icon" target="_blank">
                    <ion-icon name="logo-tiktok"></ion-icon>
                </a>
            </li>

            <li class="icon-elem">
                <a href="https://www.instagram.com/easyhealth.mex/" class="icon" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>

            <li class="icon-elem">
                <a href="https://www.facebook.com/tu_usuario" class="icon" target="_blank">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>

            <li class="icon-elem">
                <a href="https://wa.me/524447138989" class="icon" target="_blank">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
            </li>

        </ul>

        <ul class="menu">
            <li class="menu-elem">
                <a href="#home" class="menu-icon">Inicio</a>
                <a href="#unipersonal" class="menu-icon">Unipersonal</a>
                <a href="#familiar" class="menu-icon">Familiar</a>
            </li>

        </ul>

        <p class="text"> @2024 | Todos lo derechos reservados </p>

    </footer>

</body>
</html>



<!-- 

                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                    <input type="hidden" name="cmd" value="_xclick">
                                    <input type="hidden" name="business" value="simon.gomezorrego97@gmail.com">
                                    <input type="hidden" name="item_name" value="Plan Mensual Familiar">
                                    <input type="hidden" name="amount" value="500">
                                    <input type="hidden" name="currency_code" value="MXN">    
                                    <button class="buy-button button">Comprar ahora</button>
                                </form>



        Precios:
                                Unipersonal: 600, 400, 300, 120
                                Familiar: 1800, 1000, 700, 500

-->