<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="icon" href="../static/logo." type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet" />
    <title>Easy Health | Portafolio De Servicios</title>
   
</head>
<body>


            <!-- Encabezado Y Vista previa -->

    <header class = "bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <h1>Portafolio de Servicios</h1>
                <nav>
                    <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
                    <div class="menu">
                        <a href="#home">Inicio</a>
                        <a href="#services">Red de servicios</a>
                        <a href="#contact-us">Contáctanos</a>
                        <a href="/portafolio">Portafolio</a>
                        <a href="/iniciarSesion">Iniciar Sesión</a>
                    </div>
                </nav>
            </div>
        </div>
        </div>




        <section class="banner contenedor" id="home">
            <section class="banner_title">
                <h2>Necesitas un servicio <br> en fisioterapia?</h2>
                <a href="/afiliate" class="llamanos">Afiliate ya!</a>
            </section>
            <div class="banner_img">
                <img src="../static/logo.png" alt="">
            </div> 
        </section>
    </header>
                   

    <div class="custom-shape-divider-bottom-1727833950">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>


        <!-- Sobre nosotros -->

        <section class="main__about about" id="about">
            <div class="info-block">

                <p class="info-block__textt">
                    Atención Preferencial en Fisioterapia con Beneficios para Ti y Tu Familia </p>

                <p class="info-block__text">Bienvenidos a EASY HEALTH, líderes en Puebla y Querétaro comprometidos con tu bienestar y el de los tuyos.
                    Con nuestra credencial de bienestar, conectamos a fisioterapeutas calificados con quienes más lo necesitan, 
                    ofreciendo sesiones de fisioterapia con descuentos preferenciales. Nuestro servicio está diseñado para ser accesible,
                     oportuno e ilimitado, brindándote soluciones de calidad a precios justos.
                </p>
            </div>

        </section>

        <a href = "/afiliate" class="afiliate-button">Afíliate ya!</a>


        <!-- Red de Servicios -->
        
        <div class="containerr" id="services">
            <div class="service-wrapper">
                <div class="service">
                    <h2>Servicios</h2>
                    <h1>Nuestra Red de Servicios</h1>
                    <div class="cards">
                        <div class="card">
                            <i class="fa-brands fa-chromecast"></i>
                            <h2>Fisioterapia</h2>
                            <p>Ofrecemos tratamientos personalizados para mejorar la movilidad,
                            aliviar el dolor y restaurar la funcionalidad corporal, utilizando 
                            técnicas avanzadas y enfocadas en la recuperación integral.</p>
                        </div>

                        <div class="card">
                            <i class="fa-brands fa-chromecast"></i>
                            <h2>Ortopedia y Traumatologia</h2>
                            <p>Especialistas en el diagnóstico y tratamiento de lesiones óseas
                            y articulares, combinamos técnicas quirúrgicas y no quirúrgicas para
                            garantizar una recuperación óptima.</p>
                        </div>

                        <div class="card">
                            <i class="fa-brands fa-chromecast"></i>
                            <h2>Fisioterapia Deportiva</h2>
                            <p>Nos enfocamos en la recuperación y prevención de lesiones deportivas,
                            ayudando a los atletas a volver a su actividad con seguridad y mejorar
                            su rendimiento físico.</p>
                        </div>

                        <div class="card">
                            <i class="fa-brands fa-chromecast"></i>
                            <h2>Fisioterapia Para el Dolor Crónico</h2>
                            <p>Tratamos el dolor crónico con un enfoque especializado, reduciendo
                            el malestar y mejorando la calidad de vida mediante terapias manuales
                            y ejercicios personalizados.</p>
                        </div>

                        <div class="card">
                            <i class="fa-brands fa-chromecast"></i>
                            <h2>Fisioterapia Pediátrica</h2>
                            <p>Brindamos atención especializada para niños, promoviendo su desarrollo
                            motor y tratando condiciones neuromusculares y ortopédicas con un enfoque
                            amigable y seguro.</p>
                        </div>

                        <div class="card">
                            <i class="fa-brands fa-chromecast"></i>
                            <h2>Fisioterapia Para el Adulto Mayor</h2>
                            <p>Atendemos las necesidades específicas de las personas mayores, mejorando
                            su movilidad, reduciendo el dolor y promoviendo su independencia con tratamientos
                            personalizados.</p>
                        </div>

                    </div>
                </div>
            </div>

            <a href = "/afiliate" class="afiliate-button">Afíliate ya!</a>

        </div>


        <!-- Testimonios -->

        <section class="section__container" id = "testimonials">
            <h2>Testimonios</h2>
            <h1>Que Dicen Nuestros Clientes</h1>
            <div class="section__grid">
                <div class="section__card">
                    <span> <i class="ri-double-quotes-l"></i> </span>
                    <h4>Excelente atención</h4>
                    <p>
                        Desde que comencé mis sesiones de fisioterapia aquí, 
                        he notado una mejoría increíble en mi dolor de espalda. Los profesionales son muy atentos,
                        y las técnicas que emplean son muy eficaces. Además, el ambiente es 
                        relajante y te hacen sentir como en casa. ¡Recomendado al 100%!  
                    </p>
                    <h5>María Gonzalez</h5>
                </div>

                <div class="section__card">
                    <span> <i class="ri-double-quotes-l"></i> </span>
                    <h4>Profesionales cualificados</h4>
                    <p>
                        Llevo varios meses recibiendo tratamiento para una lesión en la rodilla, 
                        y puedo decir que me siento muchísimo mejor. El equipo de fisioterapeutas es muy profesional,
                        y se nota que están actualizados con las últimas técnicas. Siempre están pendientes de tus necesidades,
                        y adaptan el tratamiento a tu progreso.  
                    </p>
                    <h5>Carlos Peralta</h5>
                </div>

                <div class="section__card">
                    <span> <i class="ri-double-quotes-l"></i> </span>
                    <h4>Recuperación más rápida</h4>
                    <p>
                        Me rompí el tobillo hace seis meses, y gracias a las sesiones de fisioterapia aquí,
                        he recuperado la movilidad en tiempo récord. El seguimiento personalizado que te ofrecen y su 
                        dedicación hacen que el proceso de recuperación sea mucho más llevadero. No puedo estar más agradecida.  
                    </p>
                    <h5>Lucía Sanchez</h5>
                </div>

            </div>
        </section>
                           

        <!-- Formulario --> 

        <div class="form__container">
            <div class="container">
                <form class="form" action="/feedback" method="POST" id="contact-us">
                <h3>Escríbenos</h3>
                <p>
                    Si tienes preguntas o necesitas ayuda, completa el formulario a continuación. 
                    Responderemos a tu consulta por email en un plazo de 24 a 48 horas hábiles.
                    ¡Esperamos tu mensaje!.
                </p>
            
                <label for="nombre">Escribe tu nombre</label>
                <input type="text" id="nombre" name = "name" class="box">
            
                <label for="correo">Escribe tu correo</label>
                <input type="email" id="correo" name = "email" class="box">
            
                <label for="mensaje">Escribe tu mensaje</label>
                <textarea id="mensaje" cols="30" name = "text" rows="10"></textarea>
            
                <input type="submit" value="Enviar" class="submit">
                </form>
            
                <div class="info">
                <img src="../static/Form-1-removebg-preview.png"  class="img-1" alt="">
                </div>
            </div>      
        </div>
    </main>

    <footer class="footer">

        <ul class="social-icon">

            <li class="icon-elem">
                <a href="https://www.tiktok.com/@easyhealth.mex" class="icon" target="_blank">
                    <ion-icon name="logo-tiktok"></ion-icon>
                </a>
            </li>

            <li class="icon-elem">
                <a href="https://www.instagram.com/easyhealth.mex/" class="icon" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>

            <li class="icon-elem">
                <a href="https://www.facebook.com/tu_usuario" class="icon" target="_blank">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>

            <li class="icon-elem">
                <a href="https://wa.me/524447138989" class="icon" target="_blank">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
            </li>

        </ul>

        <ul class="menu">
            <li class="menu-elem">
                <a href="#home" class="menu-icon">Inicio</a>
            </li>

            <li class="menu-elem">
                <a href="#services" class="menu-icon">Red de servicios</a>
            </li>

            <li class="menu-elem">
                <a href="#testimonials" class="menu-icon">Testimonios</a>
            </li>

            <li class="menu-elem">
                <a href="/afiliate" class="menu-icon">Afiliate</a>
            </li>
        </ul>

        <p class="text"> @2024 | Todos lo derechos reservados </p>

    </footer>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


        <!-- Boton de WhatsApp -->

    <a href="https://wa.me/524447138989" class="whatsapp-button" target="_blank" aria-label="Chat en WhatsApp">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Icon">
    </a>


    <script>
        function toggleMenu() {
            document.querySelector('.menu').classList.toggle('active');

        }
    </script>

</body>
</html>
