<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Health | Pago Exitoso</title>
    <link rel="stylesheet" href="../static/css/succsess.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet" />
</head>
<body>

    <div class="container">

        <div class="mid-text">
            <h2>Gracias por tu compra!</h2>
            <h3>Gracias por adquirir uno de nuestros planes. Para brindarte la información que necesitas, 
                envíanos un mensaje a nuestro WhatsApp con el comprobante de pago. Así podremos confirmar tu 
                transacción y asistirte de inmediato. Nuestro equipo está disponible para ayudarte. 
                ¡Esperamos tu mensaje y gracias por elegirnos!</h3>

            <a href="https://wa.me/524447138989" class="whatsapp-button" target="_blank">
                <ion-icon class="whatsapp-icon" name="logo-whatsapp"></ion-icon> Enviar WhatsApp
            </a>

        </div>

        <div class="line line-1">
            <div class="wave wave1" style="background-image: url(../static/border-img/border-img/1.png);"></div>
        </div>

        <div class="line line-2">
            <div class="wave wave2" style="background-image: url(../static/border-img/border-img/2.png);"></div>
        </div>

        <div class="line line-3">
            <div class="wave wave3" style="background-image: url(../static/border-img/border-img/3.png);"></div>
        </div>
        

    </div>

</body>
</html>

